@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --size-scrollbar: 6px;

    --color-primary: 167, 27, 74; /* #A71B4A*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/

    --color-bg: #f0f4fa; /* #f3f4f5*/
    --color-bg-secondary: #f8faff;
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;
    --digital-category-bgc: #ade8f4;
    --fashion-category-bgc: #ffddd2;
    --beauty-category-bgc: #ddd92a;
    --sport-category-bgc: #ffd60a;
    --house-category-bgc: #ccd5ae;
    --toy-category-bgc: #cce3de;
    --stationery-category-bgc: #fbb13c;

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#fff*/
    --font-family: iranyekan, "IRANSans", "Tahoma";
  }

  .dark {
    --color-bg: 15, 23, 42; /* #0f172a*/
    --color-bg-side: 30, 41, 59; /* #1e293b*/
    --digital-category-bgc: #0d4c76;
    --fashion-category-bgc: #892a19;
    --beauty-category-bgc: #6d305f;
    --sport-category-bgc: #650606;
    --house-category-bgc: #164c4b;
    --toy-category-bgc: #6d3d4b;
    --stationery-category-bgc: #6a4202;

    --color-text-base: 226, 232, 240; /*#e2e8f0*/
    --color-text-muted: 140, 154, 175; /*#8c9aaf*/
    --color-text-side: 255, 231, 231; /*#fff*/
  }
  html[dir="ltr"] {
    --font-family: "Poppins", "Roboto", "sans-serif";
  }
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text-base);
}

.avatar {
  width: 48px;
  height: 48px;
}

// scrollbar - css
::-webkit-scrollbar {
  border-radius: 0;
  width: var(--size-scrollbar);
  height: var(--size-scrollbar);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #7589a3;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--color-bg);
}

.scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
}
.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}
.progress-bar-stripes {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.shimmer {
  &.shimmer-thumbnail {
    border-radius: 8px;
  }
  &.shimmer-avatar {
    // aspect-ratio: 1/1;
    border-radius: 50%;
  }
  &.shimmer-text {
    height: 12px;
    border-radius: 8px;
  }
  &.shimmer-title {
    height: 24px;
    border-radius: 8px;
  }
}

.shimmer {
  height: 100%;
  width: 100%;
  display: inline-block;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1000px 100%;
  animation: shimmer 2.2s linear infinite forwards;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

// input
input,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

input:focus,
select:focus {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
